.list-item-container {
    padding: 10px;
}

.item-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
    padding: 5px;
    position: relative;
}

.quantity-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
    padding: 4px 12px;
    z-index: 100;
}

.img-container {
    width: 100%;
    height: 150px;
    margin-bottom: 12px;
    position: relative;
}

.img-container img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}