<h1><a href="/search">Buscador de Lego</a></h1>
<form class="form mb-3" action="/search">
  <div class="input-group">
    <input class="form-control float-left" type="text" name="search" value="{{search}}" placeholder="Escriu aquí què busques..." />
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
  </div>
</form>