<!DOCTYPE html>
<html>
{% include 'html_head.twig' with {'title' : 'Buscador de Lego' } %}
<body class="p-2">
{% include 'form.twig' %}

{% if search != '' %}
<hr/>
<big>Resultats per a '{{search}} ({{ search | length }})':</big>
{% include 'sets.twig' with { 'sets' : sets } %}
{% endif %}

</body>
</html>