<!DOCTYPE html>
<html>
{% include 'html_head.twig' with {'title' : 'Detall de peça' } %}
<body class="p-2">
{% include 'form.twig' %}

<table class="table table-condensed table-striped">
  <tbody>
    <tr>
      <th rowspan="3">
      <img src="{{part2.part_img_url}}" height="200" />
      </td>
      <th style="text-align:left;">Part</th>
      <td>{{part.part_num}}</td>
    </tr>
    <tr>
      <th style="text-align:left;">Nom</th>
      <td>{{part.name}}</td>
    </tr>
  </tbody>
</table>

{% include 'sets.twig' with { 'sets' : sets } %}

</body>
</html>