<!DOCTYPE html>
<html>
{% include 'html_head.twig' with {'title' : 'Detall de caixa' } %}
<body class="p-2">
{% include 'form.twig' %}

<table class="table table-condensed table-striped">
  <tbody>
    <tr>
      <th rowspan="3">
      <img src="{{set.set_img_url}}" height="200" />
      </td>
      <th style="text-align:left;">Set</th>
      <td>{{set.set_num}}</td>
    </tr>
    <tr>
      <th style="text-align:left;">Nom</th>
      <td>{{set.name}}</td>
    </tr>
    <tr>
      <th style="text-align:left;">Any</th>
      <td width="100%">{{set.year}}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  {% for part in parts %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center list-item-container" >
    <div class="item-container" >
      <div class="quantity-container">{{part.quantity}}x</div>
      <div class="img-container" >
        <img src="{{part.part_img_url}}" />
      </div>
      <p><b><a href="/part/{{part.part_num}}/{{part.color_id}}">{{part.part_name}}</a></b></p>
    </div>
  </div>
  {% endfor %}
</div>

</body>
</html>