<div class="row">
{% for set in sets %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center list-item-container" >
    <div class="item-container" >
      <div class="img-container" >
        <img src="{{set.set_img_url}}" />
      </div>
      <p><b><a href="/set/{{set.set_num}}">{{set.name}}</a></b></p>
    </div>
  </div>
{% endfor %}
</div>

